python-dotenv==1.2.2
bcrypt==5.0.0
sqlalchemy-utils[email,password]==0.42.1
sqlalchemy-mixins==2.0.5
alembic==1.18.4
Flask==3.1.3
Flask-Admin==1.6.1
Flask-WTF[email]==1.2.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Bootstrap-Flask==2.5.0
typer[all]==0.16.0
