python-dotenv==1.1.1
bcrypt==4.1.2
sqlalchemy-utils[email,password]==0.42.1
sqlalchemy-mixins==2.0.5
alembic==1.13.1
Flask==3.0.0
Flask-Admin==1.6.1
Flask-WTF[email]==1.2.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Bootstrap-Flask==2.3.3
typer[all]==0.16.0
